*{
    color: black;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
}

.section-1-first-content{
    /*height: 235vh;*/
    position: relative;
    flex: 1 0 auto;
}

.sub-nav{
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 11;
}
.design{
    background-color: orangered;
    height: 2vh;
}

.higher-computer-science{
    text-transform: capitalize;
    font-size: 40px;
    font-family: Cambria;
    color: white;
    padding-left: 5px;
}

.research-sub-nav-parent-2{
    text-align: center;
}
.research-input-container{

}

.research-input{
    height: 6vh;
    width: 80%;
    border: none;
    outline: none;
}
.fa-search  {
    color: orangered;
    margin-top: 2%;
}




.research-sub-nav-container{
    text-align: center;
    width: 60%;
    border: 1px solid yellow;

}

.research-sub-nav{
    border: none;
    width: 40%;
}

.image-slide{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    padding: 10%;
    align-items: center ;
    justify-content: center;
    text-align: center;
}
.welcom-within-center{
    font-size: 40px;
    font-family: Tahoma;
    font-weight: bolder;
    color: white;
    text-transform: capitalize  ;
}
.center-name{
    font-size: 60px;
    font-family: Tahoma;
    font-weight: bolder;
    color: orangered;
}

.menu-home{
    display: flex;
}
.item-menu-home{
    list-style: none;
    margin-left: 50px;
}

.item-menu-home > a {
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: #e5bc75;
}


.item-menu-home > a:hover {
    color: white;
}

.title-formation{
    color: black;
    font-size: 400%;
    margin-bottom: 0;
}
.title-formation-bar{
    background-color: orangered;
    width: 10vw;
    height: 2vh;
}

.sub-title-foramtion{
    font-family: Algerian;
    color: #080d28
}

.classic-diaporama-container{
    margin-top: 3%;
}

#carossel{
    background-image: url("");
}

/*.images{*/
/*    display: flex;*/
/*    animation-duration: 50s;*/
/*    animation-name: my-images ;*/
/*    animation-iteration-count: infinite;*/
/*}*/

/*@keyframes my-images {*/
/*    0%{*/
/*        transform: translateX(0) ;*/
/*    }*/
/*    8%{*/
/*        transform: translateX(-300px) ;*/
/*    }*/
/*    16%{*/
/*        transform: translateX(-600px) ;*/
/*    }*/
/*    24%{*/
/*        transform: translateX(-900px) ;*/
/*    }*/
/*    32%{*/
/*        transform: translateX(-1200px) ;*/
/*    }*/
/*    40%{*/
/*        transform: translateX(-1500px) ;*/
/*    }*/
/*    48%{*/
/*        transform: translateX(-1800px) ;*/
/*    }*/
/*    56%{*/
/*        transform: translateX(-2100px) ;*/
/*    }*/
/*    64%{*/
/*        transform: translateX(-2400px) ;*/
/*    }*/
/*    72%{*/
/*        transform: translateX(-2700px) ;*/
/*    }*/
/*    80%{*/
/*        transform: translateX(-3000px) ;*/
/*    }*/
/*    88%{*/
/*        transform: translateX(-3300px) ;*/
/*    }*/
/*    96%{*/
/*        transform: translateX(-3600px) ;*/
/*    }*/
/*    100%{*/
/*        transform: translateX(0) ;*/
/*    }*/
/*}*/

.detail-classeic-container{
    border-radius: 20px
}
.detail-item{
    box-shadow: 3px 3px 20px grey;
    padding: 2%;
    border-radius: 20px;
    font-size: 20px;
    font-family: Tahoma;
}
.detail-item-item{
    font-size: 30px;
    font-weight: bolder;
    font-family: Algerian;
}
.detail-item-separator{
    text-align: center; padding-top: 4%; padding-bottom: 4%
}

.detail-item-separator > div {
    width: 5vw; height: 1vh; background-color: orangered;margin-left: 35%
}

.description-classic{
    border: 1px solid orangered;
    border-radius: 10px;
    padding: 30% 5% 30% 5%;
    margin: 2% 2% 2% 2%;
}
.radio-btn-container{
    text-align: center;
}

.sub-modern-part-container{
    position: relative;
}
.sub-modern-part-title-container{
    position: sticky;
    top: 0;
    z-index: 11;
}
.sub-modern-part-title{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 40px;
    font-weight: bolder;
    font-family: Tahoma;
    color: black;
    text-transform: capitalize;
    background-color: #080d28;
}
.net-work-container{
    padding: 2%;
}
.net-work-img{
    border-radius: 7px 7px 0 0;
}
.title-network-image{
    font-family: Algerian;
    font-size: 15px;
}
.description-network-image{
    font-size: 20px;
    text-align: justify;
}
.description-network-image{
    font-size: 17px;
    text-align: center;
    color: #484747;
}
.title-network-image{
    border-bottom: 5px solid #080d28;
    color: orangered;
}
.down-lightnes-of-text{
    color: #676869;
}
.down-lightnes-of-text2{
    color: #c2c3c5;
}
.text-network-continu1{
    display: none;
}
.text-network-continu2{
    display: none;
}
.see-more-link-1{
    color: orangered;
}

.detail-link-1{
    padding: 3% 5% 3% 5%;
    border: none;
    border-radius: 5px;
    background-color: #1594ef;
    font-size: 15px;
    color: white;
}
.detail-link-1:hover{
    background-color: #071142;
    color: orangered;
}

.link-item:hover

.sub-modern-part-1{
    /*display: none;*/
}

.sub-modern-part-2{
    margin-bottom: 10%;
}
